h1 {
  color: #394560;
  font: roboto 35px; }

h2 {
  color: white; }

p {
  color: black;
  font: roboto 20px; }

.container {
  display: flex;
  width: 100%;
  height: 50vh;
  padding: 15px;
  background-color: white;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center; }

.zoom {
  transition: transform .2s; }

.zoom:hover {
  transform: scale(1.5); }

.aparece {
  animation-duration: 2s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*------------ time line Section ------------*/
.timeline {
  margin-bottom: 0px;
  overflow: hidden;
  position: relative;
  margin: 40px 0 0;
  background-image: url("../img/11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.timeline .bg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background: url("../img/11.png") repeat scroll left top rgba(0, 0, 0, 0.6); }

.timeline .content {
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 1;
  box-shadow: 0 10px 10px -10px rgba(50, 50, 50, 0.75) inset, 0 -10px 10px -10px rgba(50, 50, 50, 0.75) inset; }

.timeline ul {
  font-size: 0;
  color: black;
  height: 450px;
  line-height: 370px;
  padding: 35px 45px;
  white-space: nowrap; }

.timeline li {
  display: inline-block;
  font: 15px "Helvetica Neue",Arial,Helvetica,sans-serif;
  height: 140px;
  color: black;
  position: relative;
  white-space: normal;
  width: 267px; }

.timeline li div {
  position: absolute; }

.timeline li:after {
  background-color: #F6464A;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  width: 10px;
  z-index: 100; }

.timeline li:nth-of-type(2n+1) {
  vertical-align: bottom;
  z-index: 100; }

.timeline li:nth-of-type(2n+1) div {
  top: 35px; }

.timeline li:nth-of-type(2n+1):after {
  top: 0; }

.timeline li:nth-of-type(2n) {
  vertical-align: top;
  z-index: 1; }

.timeline li:nth-of-type(2n) div {
  bottom: 35px; }

.timeline li:nth-of-type(2n):before {
  background: url("../img/bac.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  height: 142px;
  left: -261px;
  position: absolute;
  top: 122px;
  width: 529px;
  z-index: 1; }

.timeline li:nth-of-type(2n):after {
  bottom: 0; }

.timeline p {
  color: black;
  text-align: left; }

.timeline a {
  color: black; }

.timeline a:hover {
  color: #9700D9; }

.timeline h6 {
  background: #1c1c1c;
  color: #FFFFFF;
  display: table;
  font-size: 18px;
  font-weight: lighter;
  line-height: 20px;
  padding: 5px;
  text-align: left; }

.ps-container .ps-scrollbar-x {
  background-color: #F6464A; }

#galeriaf .col-lg-4 {
  margin: 0px !important;
  padding: 5px; }

#galeriafiat img {
  width: 500px;
  height: 200px; }

.texto_detalle {
  font-size: 15px;
  font-family: roboto;
  font-style: normal; }

.texto_resalta {
  margin: 100px;
  font-size: 35px;
  font-family: roboto;
  font-style: bold; }

.texto_centro {
  font-style: bold;
  text-align: center; }

/*Creamos el bucle para usar los valores del mapa*/
.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--send-mail {
  background-color: #C25E30; }

.btn, .btn_success, .btn_alert, .btn_cancel {
  width: 100px;
  text-align: center;
  padding: 5px 0;
  margin: 2px auto;
  border-radius: 2px;
  color: white; }

.btn_success {
  background-color: #108EFF; }

.btn_alert {
  background-color: #FF8516; }

.btn_cancel {
  background-color: #D61E20; }

.box_one {
  width: 360px; }

.box_two {
  width: 310px; }

.box_tres {
  width: 410px; }

div {
  background: white;
  margin: 0 auto;
  padding: 20px; }
  div h1 {
    color: #394560; }
  div li {
    color: green; }

/* ejemplo for */
.casitodos-1 {
  width: 6em; }

.casitodos-2 {
  width: 12em; }

.casitodos-3 {
  width: 18em; }
